@import 'part/default';

.actions {
    width: 100%;
}

.buttons {
    margin: 8px auto;
    text-align: center;

    button {
        color: white;
        background-color: rgb(80, 0, 0);
        border-radius: 4px;
        padding: 4px;
        transition: background-color 0.2s;
        border: 1px solid black;

        &:hover {
            color: black;
            background-color: rgb(255, 200, 0);
        }

        &.inactive {
            color: rgb(70, 70, 70);
            background-color: rgb(165, 165, 165);
            cursor: auto;
        }

        &.fa-2x {
            min-width: 42px;
        }
    }
}

.card_preview {
    position: absolute;
    top: 0;
    left: 0;

    width: 400px;
    height: 600px;
    border: 1px solid black;
}

.grid {
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .square {
        width: 40px;
        height: 40px;
        border: 1px solid black;
    }
}

main {
    width: 800px;
    margin: 24px auto;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.8em;
    padding: 4px 0;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;

    a, a:visited {
        color: orange;
        text-decoration: none;
    }

    a, b {
        text-transform: uppercase;
    }
}

.deck {
    text-align: center;

    .card {
        display: inline-block;
        box-shadow: 6px 2px 2px rgba(0, 0, 0, 0.5);
    }
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .card {
        display: none;
        position: fixed;
        left: 5px;
        top: 5px;
        z-index: 10;
    }

    &:hover {
        .card {
            display: block;
        }
    }

    &.small {
        width: 136px;
        height: 190px;
    }

    &.medium {
        width: 272px;
        height: 380px;
    }

    &.large {
        width: 545px;
        height: 762px;
    }

    &.back {
        background-image: url("../img/card_back.jpg");
    }

    @for $i from 1 through 6 {
        &.c-#{$i} {
            background-image: url("../img/card_#{$i}.jpg");
        }
    }
}

.clickable {
    cursor: pointer;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;

    div {
        margin: auto;
    }
}

.title, .description {
    margin-bottom: 24px;
}
